<!doctype html>
<html lang="en">

<head>
    <title><%=appName%> - About</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="register">register</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="sign-out">sign-out</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="container">
        <div class="blurb">
            <div class="text">
                Big Tech and the Department of Defense prey on young STEM talent. We are not the intellectual property of any government or corporation.
                <br><br>
                <h1>About Us</h1>
                <div class="inside">
                    <p>
                        <%=appName%> is an online platform that is aimed at fostering awareness and advocacy for critical sociological
                        issues regarding Big Tech. Primarily, it serves as an educational hub, activist community, and resource center
                        for university students that are interested in further exploring the intersection of sociology, technology and
                        inclusive practices.
                    </p>
                </div>
                <h1>Our Mission Statement</h1>
                <div class="inside">
                    <p>
                        The relationship between capitalism and technology is the antithesis of progress. At <%=appName%> we believe that
                        technology has a greater purpose beyond the acquisition of capital and want to work toward a future for
                        tech that benefits all, not some. This is a collective started by Latine students that aims to educate
                        college campuses on predatory recruitment from the defense industry. It is an effort to curve the STEM to
                        military pipeline and word toward a future where technology can thrive outside of the logic of capitalism
                        and its inherit imperialist tendencies. As students hoping to break into the tech industry, we believe it
                        is our job to not only equip people from marginalized communities with the tools to succeed in STEM but also
                        the essential knowledge to bring about the systemic change that liberates technology from the constraints
                        of the “free market.”
                    </p>

                    <a href="register">Get involved!</a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
