<!doctype html>
<html lang="en">

<head>
    <title><%=appName%> - About</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="register">register</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="sign-out">sign-out</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="container">
        <div class="blurb">
            <div class="text">
                Big Tech and the Department of Defense prey on young STEM talent. We are not the intellectual property of any government or corporation.
                <br><br>
                <h1>Add post</h1>
                <div class="inside">
                </div> 

            </div>
        </div>
    </div>
</body>

</html>
