<!doctype html>
<html>

<head>
    <title><%=appName%> - Blog</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="register">register</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="sign-out">sign-out</a></li>
        </ul>
    </nav>
    <div class="line"></div>

    <div class="blurb">
        <h1>Blog Posts</h1>
    </div>
    <!-- something here to filter -->
        NULL
    </div>
    <br>
    <div class="blurb">
        NULL
    </div>
</body>
</html>
