<!doctype html>
<html lang="en">

<head>
    <title><%=appName%> - Community</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="register">register</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="sign-out">sign-out</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="container">
        <div class="blurb">
            <div class="text">
                <h1>Community</h1>
                <div class="inside">
                    <h2>Topics</h2>
                    <ul>
                        <% community.forEach(topic => { %>
                            <li><%= topic.comName %></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="text">
                    <h2>Membership</h2>
                    <p>
                        To view users and their community membership, you must be signed in.
                        <br>
                        <a href="/list">Sign in to view.</a>
                        <br>
                        <a href="register">Or create an account.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
