<!doctype html>
<html lang="en">

<head>
    <title><%=appName%> - Library</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="register">register</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="container">
        <div class="blurb">
            <div class="text">
                <h1>Our Story</h1>
                <div class="inside">
                    <p>
                        NULL
                    </p>
                </div>
                <div class="text">
                    <h1>Our Mission Statement</h1>
                    <div class="inside">
                        <p>
                            NULL
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
