<!doctype html>
<html lang="en">

<head>
    <title><%=appName%> - Register</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="register">register</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="sign-out">sign-out</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="text">
        <h1>Humans & Community Lists</h1>
        <div class="inside">
            <table border="1">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Community Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.username %></td>
                            <td><%= user.comName %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

    </div>    
</body>

</html>
