<!doctype html>
<html lang="en">

<head>
    <title><%=appName%> - Register</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="register">register</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="sign-out">sign-out</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="container">
        <div class="blurb">
            <div class="text"><h1>Register for <%=appName%></h1></div>
            <div class="inside">
            <!-- insert form here -->
            <form method="POST" action="/registered">
                <p>Username: <input id="username" type="text" name="username" placeholder="Enter your username" /></p>
                <p>Email: <input id="email" type="email" name="email" placeholder="Enter your email" /></p>
                <p>Password: <input id="password" type="password" name="pwd" placeholder="Enter your password" /></p>
                <input type="submit" value="Register" />
            </form>            
            </div>
        </div>

    </div>

</body>

</html>
