<!doctype html>
<html lang="en">

<head>
    <title><%=appName%> - Register</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <nav class="nav-links">
        <div class="name"><%=appName%></div>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="blog">blog</a></li>
            <li><a href="community">community</a></li>
            <li><a href="library">library</a></li>
            <li><a href="register">register</a></li>
            <li><a href="sign-in">sign-in</a></li>
            <li><a href="sign-out">sign-out</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="container">
        <div class="blurb">
            <div class="text"><h1>Register for <%=appName%></h1></div>
            <div class="inside">
            <!-- insert form here -->
            <form method="POST" action="/registered">
                <p>Username: <input id="username" type="text" name="username" placeholder="Enter your username" /></p>
                <span id="usernameError" style="color: red;"></span><br>
                <p>Email: <input id="email" type="email" name="email" placeholder="Enter your email" /></p>
                <p>Password: <input id="password" type="password" name="pwd" oninput="checkPassword()" placeholder="Enter your password" /></p>
                <span id="passwordError" style="color: red;"></span><br>
                <input type="submit" value="Register" />
            </form>
            <!-- script to display error messages in real time: proper password & non-empty user -->
            <script>
                function checkPassword() {
                    const password = document.getElementById('password').value;
                    const passwordError = document.getElementById('passwordError');
            
                    if (password.length < 8) {
                        passwordError.textContent = 'Password must be at least 8 characters';
                    } else if (!/\d/.test(password)) {
                        passwordError.textContent = 'Password must contain at least one digit';
                    } else {
                        passwordError.textContent = '';
                    }
                }
                
                document.querySelector('form').addEventListener('submit', function(event) {
                    const username = document.getElementById('username').value;
                    const usernameError = document.getElementById('usernameError');

                    if (username.trim() === '') {
                        usernameError.textContent = 'Username cannot be empty';
                        event.preventDefault(); // stops user from submitting blank username
                    } else {
                        usernameError.textContent = '';
                    }
                });
            </script>
            </div>
        </div>

    </div>

</body>

</html>
