@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*{
    padding: 0.6rem;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-width: 900px;
    background-image: url("path/to/image.jpg");

}

.name {
    font-family: 'Bebas Neue', cursive;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 35px;
    background-color: black;
    width: 150px;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 170px;
    margin-top: 0;
    list-style: none;
    padding-inline-start: 0;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a{
  text-decoration: none;
  display: inline-block;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 0.1rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* body stuff */

.line {
    border-top: 1px solid black;
}
.blurb {
    margin-left: 10%;
    margin-right: 10%;
}

.blurb p {
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
}

.listings {
    list-style: none;
    display: grid;
    grid-template-columns: 260px 260px 260px;
    /* line-break: 20px; */
    margin: auto;
}

.listings img:hover {
    opacity: 0.3;
}

.row {
    margin-bottom: 40px;
}

/* tr {
    text-transform: capitalize;
} */

.errormessage {
    color:red;
}

.includes {
    margin-left: 30px;
    color:#2364AA;
}

/* FORM STUFF */
.checkbox-group {
    display: flex;
    align-items: center;
}
  
.checkbox-group label {
    margin-right: 30px;
}

.checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
  
.blurb button[type="submit"] {
    font-size: 30px;
    padding: 10px 20px;
}

/* Warning Label Stuff */
.warning-banner {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
  
.warning-banner label {
    margin: 0;
    display: inline-block;
    cursor: pointer;
}
#warning-checkbox{
    display: none;
}
  /* HELP LINK STAY ONE COLOR*/
a:visited {
    color: #141313;
}
a:hover{
    color: #FE9000;
}

select[name="community"] {
    width: 200px; /* Adjust the width as needed */
}

input[type="text"][name="newCommunity"] {
    width: 250px; /* Adjust the width as needed */
}
